.userInfo {
    display: flex;
    padding: 16px 20px 0px 20px;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 36px;
}

.userInfo-user {
    display: flex;
    align-items: center;
    gap: 10px;
}

.userInfo-avatar {
    border-radius: 50%;
    width: 56px;
    height: 56px;
}

.userInfo-icons {
    display: flex;
    align-items: center;
    gap: 24px;
}

.userInfo-more-icon,
.userInfo-video-icon,
.userInfo-edit-icon {
    width: 24px;
    height: 24px;
    cursor: pointer;
}